In [1]:
# Digit Recognizer - Kaggle competetion (category - Getting started) 
# Author - Abhishek Suntwal
# link: https://www.kaggle.com/c/digit-recognizer

In [2]:
import pandas as pd
import numpy as np

In [3]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [4]:
train.shape

(42000, 785)

In [5]:
test.shape
test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
from sklearn.decomposition import PCA as pca
from sklearn.neighbors import KNeighborsClassifier as knn
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score as ac
from sklearn.ensemble import RandomForestClassifier as rfc

In [7]:
x_train, x_test, y_train, y_test = train_test_split(train.iloc[:,1:], train.iloc[:,0], test_size=0.33, random_state=42)

In [50]:
# clf = knn(n_neighbors=1)
clf = rfc(n_estimators=100)
clf = clf.fit(x_train, y_train)

In [51]:
pred = clf.predict(x_test)
print(ac(y_test, pred))

0.9625541125541126

In [52]:
len(pred)

13860

In [53]:
sub = pd.read_csv("sample_submission.csv")

In [54]:
sub.head()

   ImageId  Label
0        1      0
1        2      0
2        3      0
3        4      0
4        5      0

In [55]:
test_pred = clf.predict(test)

In [56]:
len(test_pred)

28000

In [57]:
sub.Label = test_pred

In [58]:
sub.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      9
4        5      3

In [73]:
sub.to_csv("submission_rf.csv", header=True, index=False)

In [18]:
from sklearn.feature_selection import VarianceThreshold

In [38]:
sel = VarianceThreshold(threshold=(.8 * (1 - .8)))

In [39]:
new_train = sel.fit_transform(train.iloc[:,1:])

In [40]:
new_train.shape

(42000, 685)

In [49]:
train.iloc[:,1:].shape

(42000, 784)

In [60]:
# Testing with normalized data
from sklearn.preprocessing import MinMaxScaler as mms
norm = mms()

In [66]:
norm_train = norm.fit_transform(train.iloc[:,1:])
norm_test = norm.fit_transform(test)

In [67]:
norm_train.shape

(42000, 784)

In [68]:
norm_test.shape

(28000, 784)

In [70]:
rfcn = rfc(n_estimators=100)
rfcn = rfcn.fit(norm_train, train.iloc[:,0])

In [71]:
sub.Label = clf.predict(test)

In [72]:
sub.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      9
4        5      3